body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Pretendard;
}
html {
  -ms-overflow-style: none; /* IE 및 Edge 브라우저에서 스크롤바 숨기기 */
  /* chrome에서 스크롤바 숨기기*/
  ::-webkit-scrollbar {
    display: none;
  }
}
